# Environment variables
.env
.env.local
.env.*.local

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database journals and backups
database/*.db-journal
database/*.db-wal
database/*.db-shm
*.db-journal

# SQLite database files
database/*.db

# Uploads & Temporary cache
public/uploads/temp/
public/uploads/*
temp/
*.zip

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/